<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Example-Magazine-Page.styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik+Maps" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
