@page "/"

<PageTitle>CodeRecluse Magazine</PageTitle>

<main>
    <section class="heading">
        <header class="hero">
            <img src="Images/forest-dogs.webp"
                 alt="freecodecamp logo"
                 loading="lazy"
                 class="hero-img" />
            <h1 class="hero-title">PORTFOLIO NEWSLETTER</h1>
            <h3 class="hero-subtitle">
                A simple effort to showcase our abilites in the ever changing web development landscape.
            </h3>
        </header>
        <div class="author">
            <p class="author-name">
                By
                <a href="https://www.github.com/phexyaa" target="_blank" rel="noreferrer">Phexyaa</a>
            </p>
            <p class="publish-date">January 4<sup>th</sup>, 2024</p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/freecodecamp/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/freecodecamp/">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/freecodecamp">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/school/free-code-camp/">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.youtube.com/freecodecamp">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>
    <section class="text">
        <p class="first-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Sed sed risus pretium quam vulputate dignissim suspendisse in. At quis risus sed vulputate odio ut enim. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. Semper eget duis at tellus at urna. Ac feugiat sed lectus vestibulum mattis. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sed elementum tempus egestas sed sed risus pretium. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Ultrices eros in cursus turpis massa tincidunt dui. In tellus integer feugiat scelerisque varius morbi enim. Nisi quis eleifend quam adipiscing vitae proin sagittis. Orci a scelerisque purus semper eget duis. Egestas congue quisque egestas diam in arcu cursus. Nisl tincidunt eget nullam non nisi. Turpis massa sed elementum tempus egestas sed sed. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Cras tincidunt lobortis feugiat vivamus at.
        </p>
        <p>
            Condimentum lacinia quis vel eros donec ac odio tempor. Morbi enim nunc faucibus a. Facilisis sed odio morbi quis commodo odio aenean. Est ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Luctus venenatis lectus magna fringilla. Auctor elit sed vulputate mi sit amet. Tincidunt praesent semper feugiat nibh sed. Diam maecenas ultricies mi eget mauris pharetra et. Varius vel pharetra vel turpis nunc eget lorem. Vel facilisis volutpat est velit egestas dui id ornare. Nibh sit amet commodo nulla. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. Venenatis a condimentum vitae sapien pellentesque habitant.
        </p>
        <p>
            Feugiat vivamus at augue eget arcu dictum. Tempus egestas sed sed risus. At tempor commodo ullamcorper a. Et malesuada fames ac turpis egestas maecenas pharetra. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Nunc sed blandit libero volutpat. Duis at consectetur lorem donec massa sapien faucibus et. Sed adipiscing diam donec adipiscing tristique risus. Amet dictum sit amet justo donec enim diam vulputate. Elit ut aliquam purus sit. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. In mollis nunc sed id semper risus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
        </p>
        <blockquote>
            <hr />
            <p class="quote">
                This portfolio will eventually grow to serve as a demonstration of our abilities.
            </p>
            <hr />
        </blockquote>
        <p>
            Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Ac placerat vestibulum lectus mauris ultrices eros. Neque viverra justo nec ultrices dui. Commodo elit at imperdiet dui accumsan. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Elit pellentesque habitant morbi tristique. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Libero enim sed faucibus turpis in eu mi. Lobortis feugiat vivamus at augue eget arcu dictum varius duis. Id faucibus nisl tincidunt eget nullam non nisi est sit. Cras ornare arcu dui vivamus arcu felis bibendum ut. Volutpat est velit egestas dui id. Imperdiet nulla malesuada pellentesque elit.
        </p>
        <p>
            Dignissim suspendisse in est ante in nibh mauris cursus mattis. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Viverra suspendisse potenti nullam ac tortor. Etiam sit amet nisl purus in mollis. Sit amet consectetur adipiscing elit ut aliquam. Viverra orci sagittis eu volutpat odio facilisis mauris sit. Curabitur vitae nunc sed velit dignissim sodales ut. Diam volutpat commodo sed egestas. Purus faucibus ornare suspendisse sed nisi lacus. Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Turpis egestas maecenas pharetra convallis posuere morbi leo. Praesent semper feugiat nibh sed. Diam quam nulla porttitor massa id neque. Tortor id aliquet lectus proin nibh nisl condimentum id venenatis. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed enim ut sem viverra aliquet eget sit amet. Cras sed felis eget velit aliquet sagittis id. Sit amet risus nullam eget felis eget nunc. Eu sem integer vitae justo eget magna fermentum iaculis eu. Morbi tristique senectus et netus et malesuada fames ac. Nunc sed blandit libero volutpat sed cras ornare arcu. Velit sed ullamcorper morbi tincidunt ornare massa. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Id diam vel quam elementum pulvinar etiam non quam. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Massa ultricies mi quis hendrerit dolor.
        </p>
    </section>
    <section class="text history">
        <article class="brief-history">
            <div class="brief-history-header">
                <h3 class="list-title">A Brief History</h3>
                <p>Of my time spent in software development</p>
            </div>
            <ul class="history-list">
                <li>
                    <h4 class="list-subtitle">2020</h4>
                    <p>
                        Shifted focus to learning .NET Blazor.
                    </p>
                </li>
                <li>
                    <h4 class="list-subtitle">2021</h4>
                    <p>Started work on projects meant for portfolio.</p>
                </li>
                <li>
                    <h4 class="list-subtitle">2022</h4>
                    <p>
                        Created LLC for freelancing income transactions and expenses.
                    </p>
                </li>
                <li>
                    <h4 class="list-subtitle">2023</h4>
                    <p>
                        Expanded web development knowledge to include more complex css, html.
                    </p>
                </li>
                <li>
                    <h4 class="list-subtitle">2024+</h4>
                    <p>Continue life long learning goals by expanding overall knowledge of web development practices and introducing javascript programming.</p>
                </li>
            </ul>
        </article>
        <aside class="text-with-images">
            <div class="feature-quote-div">
                <img src="Images/open-forest.webp"
                     alt="image of open forest"
                     loading="lazy"
                     class="feature-quote-image" />
                <p class="feature-quote">I don't want to die an ordinary man. -Ozzy Osbourne'</p>
            </div>
            <div class="advertisement-div">
                <img src="Images/cyber-funk.jpeg"
                     alt="image of a person on street between cars"
                     loading="lazy"
                     class="advertisement" />
                <blockquote class="terms-block">
                    <hr />
                    <p class="quote">
                        Act fast buy now while supplies last. <sup>terms and conditions apply.</sup>
                    </p>
                    <p class="advertisement-terms">
                        <sup>adipiscing commodo elit at imperdiet dui. Risus nullam eget felis eget nunc lobortis mattis aliquam. Habitasse platea dictumst quisque sagittis purus sit. Nunc faucibus a pellentesque sit. Accumsan lacus vel facilisis volutpat est velit egestas dui. Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Auctor elit sed</sup>
                    </p>
                    <hr />
                </blockquote>
            </div>
        </aside>
    </section>
    <section class="text quick-links">
        <strong>
            <em>
                Quick Links:
            </em>
        </strong>
        <ul>
            <li>
                <a href="https://www.github.com/phexyaa/example-order-page">Example Order Page</a>
            </li>
            <li>
                <a href="https://www.github.com/phexyaa/example-tribute-page">Example Tribute Page</a>
            </li>
            <li>
                <a href="https://www.github.com/phexyaa/example-magazine-page">Example Magazine Page</a>
            </li>
        </ul>
    </section>
</main>
